---
import LoginForm from "../components/LoginForm.astro";
import Unlogged from "../layouts/Unlogged.astro";
---

<Unlogged title="Se connecter">
  <main>
    <h1>Se connecter</h1>
    <div class="error" class="pb-2"></div>
    <LoginForm />
    <a href="/signup">Créer un compte</a>
  </main>
</Unlogged>
