---
import LoginForm from "../components/LoginForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Se connecter">
  <main>
    <h1>Se connecter</h1>
    <div id="error" class="pb-2"></div>
    <LoginForm />
    <a href="/signup">Créer un compte</a>
  </main>
</Layout>
