---
import SignupForm from "../components/SignupForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="S'enregistrer">
  <main>
    <h1>S'enregistrer</h1>
    <div id="error" class="pb-2"></div>
    <SignupForm />
    <a href="/login">Se connecter</a>
  </main>
</Layout>
