---
import SignupForm from "../components/SignupForm.astro";
import Unlogged from "../layouts/Unlogged.astro";
---

<Unlogged title="S'enregistrer">
  <main>
    <h1>S'enregistrer</h1>
    <div class="error" class="pb-2"></div>
    <SignupForm />
    <a href="/login">Se connecter</a>
  </main>
</Unlogged>
