---
import { ClientResponseError } from "pocketbase";

let isSubmitted = false;
let errorMessage: string | null = null;
if (Astro.request.method === "POST") {
  try {
    const pb = Astro.locals.pb;

    await pb.authStore.clear();
    Astro.response.headers.set("HX-Redirect", "/login");
  } catch (error) {
    if (error instanceof ClientResponseError) {
      errorMessage = error.message;
      Astro.response.status = error.status;
      Astro.response.statusText = errorMessage;
    }
  } finally {
    isSubmitted = true;
  }
}

export const partial = true;
---

{
  isSubmitted ? (
    <p hx-swap-oob="closest .error">
      <mark>{errorMessage}</mark>
    </p>
  ) : null
}
