---
import { ClientResponseError } from "pocketbase";
import { z } from "zod";

let isSubmitted = false;
let errorMessage: string | null = null;
if (Astro.request.method === "POST") {
  try {
    const pb = Astro.locals.pb;

    await pb.authStore.clear();
    Astro.response.headers.set("HX-Redirect", "/login");
  } catch (error) {
    if (error instanceof z.ZodError) {
      errorMessage = error.issues
        .map(({ path, message }) => `${path[0]} : ${message}`)
        .join(", ");
      Astro.response.status = 400;
    } else if (error instanceof ClientResponseError) {
      errorMessage = error.message;
      Astro.response.status = error.status;
    } else {
      errorMessage = "Erreur interne";
      Astro.response.status = 500;
    }
  } finally {
    isSubmitted = true;
  }
}

export const partial = true;
---

{
  isSubmitted ? (
    <p hx-swap-oob="closest .error">
      <mark>{errorMessage}</mark>
    </p>
  ) : null
}
