---
type Props = {
  id: string;
  created: string;
  foodName: string;
  quantity: number;
};
const { id, created, foodName, quantity } = Astro.props;

const feedingTime = new Date(created).toLocaleTimeString(["fr-FR"], {
  hour: "2-digit",
  minute: "2-digit",
});

export const partial = true;
---

<li>
  <mark>
    <span>{feedingTime}</span> -
    <span>{quantity} g</span> -
    <span>{foodName}</span>
  </mark>
  <button
    hx-delete=`/api/feeding/${id}`
    hx-target="closest li"
    hx-swap="outerHTML"
    ><iconify-icon icon="tabler:trash-x"></iconify-icon></button
  >
</li>
